:root {
  --titles-color: #212121;
  --acent-color: #2196f3;
  --text-color: #757575;
  --grey-color: #f5f4fa;
  --footer-color: #2f303a;
  --white-color: #ffffff;
  --black-color: #000000;
  --logo-gray: #afb1b8;
}

:root {
  --main-font: "Roboto";
  --second-font: "Raleway";
}

:root {
  --color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --opacity-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  font-family: var(--main-font), sans-serif;
  color: var(--titles-color);
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo__link {
  display: inline-block;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 0.86;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.logo__link:hover *, .logo__link:focus * {
  color: var(--acent-color);
}
@media screen and (min-width: 1200px) {
  .logo__link {
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo__link:hover *, .logo__link:focus * {
  color: var(--acent-color);
}

.logo--header {
  margin-right: 93px;
}

.logo--black-studio {
  color: var(--black-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--white-studio {
  color: var(--white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--footer {
  margin: 0px 0px 20px 0px;
}

.mobil__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
  opacity: 1;
}

.closed {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobil__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  fill: var(--titles-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil__close-btn:hover, .mobil__close-btn:focus {
  fill: var(--acent-color);
  outline: none;
}

.header__nav {
  flex-grow: 1;
}

.nav__item {
  margin-bottom: 32px;
}

.nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--acent-color);
}

.header__contacts {
  display: flex;
  flex-direction: column-reverse;
}

.header__link svg {
  display: none;
}

.header__phone {
  margin-bottom: 32px;
}
.header__phone a {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--acent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__phone a:hover, .header__phone a:focus {
  color: var(--titles-color);
}

.header__mail {
  margin-bottom: 64px;
}
.header__mail a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mail a:hover, .header__mail a:focus {
  color: var(--titles-color);
}

.mobil__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.mobil__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

.mobil__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--acent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil__link:hover, .mobil__link:focus {
  color: var(--titles-color);
}

.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

@media screen and (max-width: 1199px) {
  .footer__item {
    text-align: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--acent-color);
}

.footer__contact-adress {
  color: var(--white-color);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container > div:not(:last-child) {
    margin-bottom: 60px;
  }
}

.footer__adress {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-right: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__adress {
    align-items: center;
  }
}

.footer__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
}

.footer__socials {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-right: 93px;
  }
}

.footer__social-list {
  display: flex;
}

.footer__socials-icon {
  fill: var(--white-color);
}

.footer__socials-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  padding: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: var(--acent-color);
}

.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
  }
}

.footer__form-field > input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  min-height: 50px;
  width: 450px;
  color: var(--white-color);
  padding: 15px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__form-field > input {
    width: 358px;
  }
}
@media screen and (max-width: 480px) {
  .footer__form-field > input {
    width: 250px;
  }
}
.footer__form-field > input:focus {
  border: 1px solid #fff;
  outline: none;
}

.footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  fill: var(--white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 28px;
  border: 2px solid var(--acent-color);
  transition-property: color, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
  background-color: rgba(255, 255, 255, 0.9);
}

.footer__btn-img {
  margin-left: 10px;
}

.titles {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--titles-color);
  letter-spacing: 0.03em;
  margin: 0px 0px 30px 0px;
}
@media screen and (min-width: 1200px) {
  .titles {
    font-size: 36px;
    line-height: 1.2;
    margin: 0px 0px 50px 0px;
  }
}

.contacts__container {
  height: 300px;
}/*# sourceMappingURL=contacts.css.map */