.titles {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: var(--titles-color);
    letter-spacing: 0.03em;
    margin: 0px 0px 30px 0px;


    @media screen and(min-width:1200px) {
    
    font-size: 36px;
    line-height: 1.2;
    margin: 0px 0px 50px 0px;
    }

}