body {
    background-color: var(--white-color);
    font-family: var(--main-font), sans-serif;
    color: var(--titles-color);
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}
