@mixin transition($color, $fill, $background-color, $border) {
    transition-property: $color, $fill, $background-color, $border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}