:root {
    --titles-color: #212121;
    --acent-color: #2196f3;
    --text-color: #757575;
    --grey-color: #f5f4fa;
    --footer-color: #2f303a;
    --white-color: #ffffff;
    --black-color: #000000;
    --logo-gray: #afb1b8;
}
