.clients__list {
    display: flex;
    justify-content: space-between;
    @media screen and(max-width:1199px) {
        gap: 30px;
        flex-wrap: wrap;
        
    }
}

.clients__item {
    @media screen and(max-width:1199px) {
    flex-grow: 1;
    }
        
}

.clients__link {
    display: block;
    min-width: 170px;
    height: 92px;
    border: 1px solid var(--logo-gray);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(null, border-color, null, null);
    &:hover,
    &:focus {
            border-color: var(--acent-color);
        }
    @media screen and(min-width:1200px) {
    width: 170px;
    }
}

.clients__logo {
    fill: var(--logo-gray);
    @include transition(fill, null, null, null);
    .clients__link:hover &,
        .clients__link:focus & {
            fill: var(--acent-color);
        }
}



